/sourceCode
*.installlog
*.installstate
*.suo
*.user
_ReSharper.*/
*.sdf
*.vspscc
*.opensdf
*.tlog
*.log
*.vdproj
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/